block footer 
  footer.footer
    .container 
      .footer__inner  
        include ../modules/footer-logo
        include ../modules/footer-nav
        .footer__copy
          p.footer__text.
            Copyright © 2019 - 2021 «BETANDYOU»
          p.footer__text.
            All rights reserved and protected by law.
        .footer__socials
          include ../modules/socials
//- .footer__top