block variables
- var pageTitle = 'Newmatch'

block head

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/x-icon" sizes="16x16" href="images/favicon/icon.ico")
    link(rel="mask-icon" href="images/favicon/icon.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#1e0b0b")
    title= pageTitle
    link(rel="stylesheet" href="css/style.min.css")
      