block variables

doctype html
html(lang="pt")
  block head
  body.body
    //- block header
    block content
    block footer
    block popup
    .setka

    script(src="js/main.min.js" defer)
    script(class="iti-load-utils" src="js/utils.js")
    script(src="js/intlTelInput.js")
    script(src="js/main-form.js")
