.ellipse-btn {
  // margin-bottom: 1.4em;
  padding: .6em 1em;
  min-width: 150px;
  display: inline-block;
  text-align: center;
  color: #181818;
  @extend %mont-700;
  @include adaptiv-font(26, 12);
  text-transform: uppercase;
  line-height: 1.2;
  border-radius: 2.6em;
  background: linear-gradient(360deg, rgb(255, 187, 0) 0%, #FFE300 100%), #FFFFFF;
  // box-shadow: 0px 0px 15.3811px rgba(255, 195, 1, 0.5);
  border: none;
  cursor: pointer;

  transition: box-shadow 0.3s linear;

  &:hover {
    box-shadow: 0px 0px 25px 6px rgba(255, 211, 0, 0.39);
  }

  &:active {
    background: linear-gradient(360deg, rgb(255, 187, 0) 0%, #FFE300 100%), #FFFFFF;
  }

  @include mq(fhd) {
    font-size: 26px;
  }
}