<svg width="18" height="37" viewBox="0 0 18 37" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.7595 11.5492V8.6468C11.7595 7.21895 12.7067 6.89166 13.3766 6.89166C14.0465 6.89166 17.4642 6.89166 17.4642 6.89166V0.66958L11.8388 0.637207C5.60825 0.637207 4.17848 5.29478 4.17848 8.25837V11.5492H0.569824V15.9407V18.8107H4.20729C4.20729 27.0361 4.20729 36.9699 4.20729 36.9699H11.4786C11.4786 36.9699 11.4786 26.9426 11.4786 18.8107H16.888L17.1509 15.9551L17.5543 11.5456H11.7595V11.5492Z" fill="white"/>
</svg>
