<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_12_1223)">
<path d="M38.7718 3.74352L1.38685 18.2346C-0.117568 18.9094 -0.626415 20.2608 1.02317 20.9942L10.6141 24.0579L33.8035 9.65229C35.0696 8.7479 36.3659 8.98907 35.2505 9.98389L15.3339 28.1102L14.7082 35.7812C15.2877 36.9657 16.3488 36.9712 17.0256 36.3825L22.5358 31.1417L31.9729 38.2449C34.1648 39.5493 35.3574 38.7075 35.829 36.3169L42.0189 6.8554C42.6616 3.91264 41.5656 2.61606 38.7718 3.74352Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_12_1223">
<rect width="42.1974" height="42.1974" fill="white"/>
</clipPath>
</defs>
</svg>
