.fog   
  picture
    source(srcset=`./images/fog/fog1.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog1.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog1.png` alt="fog" style="--strok:1;")
    
  picture
    source(srcset=`./images/fog/fog2.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog2.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog2.png` alt="fog" style="--strok:2;")

  picture
    source(srcset=`./images/fog/fog3.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog3.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog3.png` alt="fog" style="--strok:3;")

  picture
    source(srcset=`./images/fog/fog4.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog4.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog4.png` alt="fog" style="--strok:4;")

  picture
    source(srcset=`./images/fog/fog2.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog2.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog2.png` alt="fog" style="--strok:5;")

  picture
    source(srcset=`./images/fog/fog3.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog3.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog3.png` alt="fog" style="--strok:6;")

  picture
    source(srcset=`./images/fog/fog3.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog3.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog3.png` alt="fog" style="--strok:7;")

  picture
    source(srcset=`./images/fog/fog3.avif` type="image/avif" style="--strok:1;")
    source(srcset=`./images/fog/fog3.png.webp 1px` type="image/webp" style="--strok:1;")
    img.fog__img(src=`.images/fog/fog3.png` alt="fog" style="--strok:8;")