footer
  .footer-wrap.container
    .payments-methods
        div
          svg(width="35" height="27")
            use(xlink:href="images/sprite.svg#masterCardWB")
          svg(width="35" height="27")
            use(xlink:href="images/sprite.svg#masterCardColor")
        div
          svg(width="54" height="27")
            use(xlink:href="images/sprite.svg#visaWB")
          svg(width="54" height="27")
            use(xlink:href="images/sprite.svg#visaColor")
        div
          svg(width="74" height="26")
            use(xlink:href="images/sprite.svg#SkrillWB")
          svg(width="74" height="26")
            use(xlink:href="images/sprite.svg#SkrillColor")
        div
          svg(width="29" height="34")
            use(xlink:href="images/sprite.svg#bitcoinWB")
          svg(width="29" height="34")
            use(xlink:href="images/sprite.svg#bitcoinColor")
        div
          svg(width="120" height="20")
            use(xlink:href="images/sprite.svg#neteller")
          svg(width="120" height="20")
            use(xlink:href="images/sprite.svg#netellerColor")
    .app-links
        a(href="#")
          svg.app-links__svg(width="136" height="40")
            use(xlink:href="images/sprite.svg#icon-android") 
            //- include ../icons/iosApp

        a(href="#") 
          svg.app-links__svg(width="133" height="39")
            use(xlink:href="images/sprite.svg#icon-iosapp")

    .soc-networks
      a(href="#") 
        svg.soc-networks__svg(width="35" height="28")
          use(xlink:href="images/sprite.svg#icon-twitter")
      a(href="#") 
        svg.soc-networks__svg(width="43" height="43")
          use(xlink:href="images/sprite.svg#icon-telegram")
      a(href="#")
        svg.soc-networks__svg(width="38" height="38")
          use(xlink:href="images/sprite.svg#icon-insta")
      a(href="#")
        svg.soc-networks__svg(width="18" height="37")
          use(xlink:href="images/sprite.svg#icon-fb") 