//- Пример написания миксина
mixin navLink(link, name)
  li 
    a(href=link).nav-link=name

block header
  header.header
    .container
      .header__inner
        .header__left
          include logo
        include howreg
        .header__box
          include langSwitch