block howreg 
  .howreg
    .howreg__content(data-modal='popup-steps') 
      .howreg__icon
        svg.howreg__svg 
          use(xlink:href='images/sprite.svg#icon-phone')
      p.howreg__text.
        <span>Как</span> зарегестрироваться?