block variables 
  - var colorLine = 'hedden text - yellow line'

block instruction 

  section.instruction
    .container
      .instruction__inner
        ul.instruction__items 
          li#instructionNumberOne.instruction__number
            .instruction__content
              p.instruction__num(data-text="1") 1
              .instruction__box
                .instruction__action.gradient REGISTRIEREN
                span SIE SICH AUF DER WEBSIT 
                span.gradient 136 uah 
          li#instructionNumberTwo.instruction__number
            .instruction__content
              p.instruction__num(data-text="2") 2
              .instruction__box               
                p.instruction__action.gradient EINE
                span  EINZAHLUNG

          li#instructionNumberThree.instruction__number
            .instruction__content
              p.instruction__num(data-text="3") 3
              .instruction__box
                p.instruction__action.gradient VERDIENEN
                span  UND GEWINNEN SIE MIT BETANDYOU
  