- 
  var title = 'Настраиваем приложение для увеличения вероятности выигрыша'
  var slotsPromo = `<span class="slots__attention">Важно:</span> После установки алгоритма необходимо зарегистрироваться и сделать депозит. Алгоритмы самоизучаются и повышенный коэффициент выигрыша будет корректно настроен после <strong>400 спинов</strong> и более.`

//- section.top.top--hideForm
section.top
  .container
    .top__inner
      include title

      .top__promo

        include promo-tr

      .top__geoContent

        include title
        include form
        include therms


          
              




      


  