.instruction {
  position: relative;
  z-index: 1;
  &__inner {
    position: relative;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    font-style: italic;
    margin-bottom: 2%;

    @include mq(sm) {
      margin-bottom: 0;
    }
  }

  &__num {
    position: relative;
    padding-right: 9px;
    @include adaptiv-font(100, 85);
    line-height: 1;
    @extend %montserrat-700;

    position: relative;
    opacity: 0.5;
    -webkit-text-stroke: 2px #ffffff;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    // mix-blend-mode: multiply;
    /* text-shadow: 0 0 8px rgba(0,0,0,5), 0 2px 4px rgba(0,0,0,0.7); */
  }

  &__box {
    margin-left: 0.6em;

    span {
      color: $white;
      text-transform: uppercase;
      @include adaptiv-font(21, 16);

      &.gradient {
        padding-right: 2px;
      }
    }
  }

  &__number {

    position: relative;
    z-index: 3;
    width: 70%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-right: 2%;

    opacity: 0;

    @include mq(sm) {
      padding-right: 1%;
    }

    @include mq(md) {
      width: auto;
      max-width: 30%;
    }

    &.active {
      animation: moveIn .8s ease-in;
      opacity: 1;
    }

    @keyframes moveIn {
      from {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
        opacity: 0;
      }

      to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        display: block;
        opacity: 1;
      }
    }

    &:not(:last-child)::before {
      display: none;


      @include mq(md) {
        display: block;
        content: '';
        position: absolute;
        left: 105%;
        top: 50%;
        width: 48px;
        height: 19px;

        transform: translateY(-50%);
        background-image: url('../images/icons/arrow.png');
        clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
        animation: arrowAnim;
        animation-duration: 4s;
        animation-timing-function: 0.18, 0.01, 0.51, 0.98;

        background-size: 16px 19px;
      }

      @include mq(lg) {
        left: 100%;
        top: 50%;
        width: 94px;
        height: 36px;
        background-size: contain;
      }
    }

    @keyframes arrowAnim {
      from {
        background-position: -200%
      }

      to {
        background-position: 100%
      }
    }

    &:not(:last-child) {
      margin-bottom: 6vw;

      @include mq(xs) {
        margin-bottom: 4vw;
      }
      
      @include mq(sm) {
        margin-bottom: 0;
      }
    }

    &.active {
      -webkit-animation: moveIn .8s ease-in;
      animation: moveIn .8s ease-in;
      opacity: 1;
    }
  }

  &__article {
    max-width: 60%;
  }

  &__action {
    padding-right: 3px;
    margin-bottom: 5px;

    @include adaptiv-font(33, 23);
    font-weight: 900;
    color: $white;
    text-transform: uppercase;

    @include mq(sm) {
      margin-bottom: 0px;
    }
  }
}